.old_code_versions/flight_physics_gnn.py
.old_code_versions/flight_physics_gnn2.py
.old_code_versions/flight_physics_gnn3.py
.old_code_versions/flight_physics_gnn4.py
.old_code_versions/flight_physics_gnn5.py
.old_code_versions/flight_physics_gnn6.py
.old_code_versions/flight_physics_gnn7.py
.old_code_versions/flight_physics_gnn8.py
.old_code_versions/flight_physics_gnn9.py
.old_code_versions/flight_physics_gnn10.py
.old_code_versions/flight_physics_gnn11.py
.old_code_versions/flight_trainer_multiprocessor.py
.old_code_versions/test0.py
__pycache__/chess_decoders.cpython-37.pyc
__pycache__/chess_tools.cpython-37.pyc
__pycache__/geneticneuralnetwork.cpython-311.pyc
__pycache__/neuralnetwork.cpython-37.pyc
__pycache__/neuralnetwork.cpython-311.pyc
__pycache__/plane.cpython-37.pyc
__pycache__/plane.cpython-311.pyc
.vscode/launch.json
